<h3>Upload video</h3>
<%= form_for @video, :html => { action: 'create' } do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </p>
  <p>
    <%= f.file_field :attachment %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>