<div class="video">
  
  <% if video %>
    <div class="col-md-4">
      <h4 class="title"><%= video.title %></h4>
      <%= link_to image_tag(video.attachment.url(:thumb)), video if video.attachment? %>
      <p class="card-text"><%= video.length %> seconds | <%= video.format  %></p>
      <p class="actions">
        <%= link_to "edit", edit_video_path(video) %> |
        <%= link_to "remove", video, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    </div>
  <% end %>

</div>