<h1>All Videos</h1>


<div class="row">
  <div class="col-md-8">
    <div id="new-videos">
      <%= render @videos %>
    </div>
  </div>
  <div class="col-md-4">
    <!-- WIP progres bar
    <div id="loading-wrapper" style="display: none;">
      <progress max="100" class="progress progress-warning active"></progress>
    </div>​
    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%;"></div></div>
      </div>
    </script> -->
    <%= render partial: 'form', locals: {video: @video} %>
  </div>
</div>

<% @videos.in_groups_of(3) do |videos|  %>
  <div class="row">
    <% videos.each do |video| %>
      <% if video %>
        <div class="col-md-4">
          <%= link_to video_path(video) do %>
            <div class="card">
              <%= video_tag video.attachment.url(:medium), controls: true, class: "card-img-top", style: "max-width: 100%;" %>
              <div class="card-img-overlay card-inverse">
                <h3 class="card-title"><%= video.title  %></h3>
              </div>
              <div class="card-block">
                <p class="card-text">Seconds: <%= video.length %>, Format: <%= video.format  %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
