<!DOCTYPE html>
<html>
<head>
  <title>Vidup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/nav'  %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}", class: 'alert-info' %>
<% end %>
<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
